[Desktop Entry]
Name=ADpassword
GenericName=Active Directory Password Alert
Comment=Allow to change a password before expiration
Exec=ADpassword
Icon=ADpassword
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
