[Desktop Entry]
Name=ADpassword
Name[es]=ADpassword
GenericName=Active Directory Password Alert
GenericName[es]=Aviso de Cambio de Contraseña de Directroio Activo
Comment=Allow to change a password before expiration
Comment[es]= Ayuda a cambiar su contraseña antes de que caduque
Exec=ADpassword
Icon=ADpassword
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
NoDisplay=true
